<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<h1>{{title}}</h1>
<input type="text" [(ngModel)]="title">


<div>
  <input [(ngModel)]="year" type="number" placeholder="Enter a year">
  <button (click)="checkLeapYear()">Submit</button>
  </div>
  <div *ngIf="isLeapYear !== undefined">
  <p>{{ year }} is a leap year: {{ isLeapYear }}</p>
  </div>

<!--This is single array list-->
  <div>
    <p>This is an  Single list -  {{li[0]}}</p>
  </div>

  <!--this is an Array List-->
  <h1>This Is Array List</h1>
  <ul>
    <li *ngFor="let item of li">{{ item }}</li>
  </ul>

  <!--this is an push list-->
  <h1>Push Method In List</h1>
  <div>
    <input type="text" [(ngModel)]="newItem" placeholder="Enter a new item">
    <button (click)="addToList1(newItem)">Add to List</button><br><br>
  
    <table class=" table-bordered" style="border: 0px solid black;" cellpadding="10px" cellspacing="5px">
      <thead>
        <tr>
          <th>SNo</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list1; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-demo></app-demo>

<!--This is click show datas-->
 <h1>This Is Click To Show List And Table</h1>

  <label for=""> show list</label>
  <input type="radio" [(ngModel)]="gender" >

  <label for=""> show table</label>
  <input type="radio" [(ngModel)]="gender" [value]="'false'">
  
  <label for="">show null</label>
  <input type="radio" >

  <div *ngIf="gender">
    <app-table></app-table>
  </div> 
<div *ngIf="!gender">
  <app-list></app-list>
</div>

<!--its an SwitchCase-->
<h1>Its an SwitchCase</h1>
<label for="">Enter Number</label>
<input type="text" [(ngModel)]="num">
<div [ngSwitch]="num" >
<div *ngSwitchCase='0'>invalid number</div>
<div *ngSwitchCase='1'>One</div>
<div *ngSwitchCase='2'>Two</div>
<div *ngSwitchCase='3'>Three</div>
<div *ngSwitchCase='4'>Four</div>
<div *ngSwitchCase='5'>Five</div>
</div>

<!--its class call method-->
<h1>Its class call  - method</h1>
<div>
  <p [ngClass]="'hi'">Will You Come Back</p>

</div>

<!--its an string formate-->

<h1>Its an string formate</h1>
<div>
  <p>{{name|uppercase}} . this is an UPPERCASE</p>
</div>

<div>
  <p>{{name|lowercase}}. this is an LOWERCASE </p>
</div>

<div>
  <p>{{name|slice:0:11}}</p>
</div>

<!--its an date formate in angular-->
<h1>its an date formate in angular</h1>
<div>
  <p>Date = {{ today | date : "fullDate" }}</p>
  
  </div>

<div>
  <p>Date = {{ today | date }}</p>
</div>

<div>
  <p>Date = {{ today | date: 'short' }}</p>
</div>

<div>
  <p>Date = {{ today | date: 'medium' }}</p>
</div>

<div>
  <p>Date = {{ today | date: 'long' }}</p>
</div>


<!--its an currency method in angular-->
<h1>Its an currency method in angular</h1>
<p>PRICE : {{amount | currency:'INR'}}</p>
<p>{{ amount | currency:'USD':'symbol':'1.2-2' }}</p>

<div>
  <!--output '$0.26'-->
  <p>A: {{amount | currency}}</p>

  <!--output 'CA$0.26'-->
  <p>b: {{amount | currency:'CAD'}}</p>

  <!--output 'CAD0.26'-->
  <p>c: {{amount | currency:'CAD':'code'}}</p>

  <!--output 'CA$0,001.35'-->
  <p>d: {{amount | currency:'CAD':'symbol':'4.2-2'}}</p>

  <!--output '$0,001.35'-->
  <p>e: {{amount | currency:'CAD':'symbol-narrow':'4.2-2'}}</p>

  <!--output '0 001,35 CA$'-->
  <p>f: {{amount | currency:'CAD':'symbol':'4.2-2':'fr'}}</p>

  <!--output 'CLP1' because CLP has no cents-->
  <p>g: {{amount | currency:'CLP'}}</p>
</div>


